@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
  font-family: "PTSansNarrowRegular";
  font-size: 1em;
  background-color: #252525;
  color: white;
}
.main {
    margin: 0 auto;
    width: 90%;
    min-width: 975px;
    /*max-width: 975px;*/
    position: relative;
}

ul li {
  display: inline-block;
  width: 20em;
  height: 5em;
  margin: 0 2em;
  border: #FF1857 solid 2px;
  border-radius: 5px;
  position: relative;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

ul li:hover {
  color: whitesmoke;
}

ul li:before {
  content: "";
  position: absolute;
  background: #FF1857;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

ul li:hover:before {
  top: 0;
}

ul li a {
  text-decoration: none;
  font-size: 1.4em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    vertical-align:middle;
    background:url(../img/main-png/checkbox-bg.png) left top no-repeat;
    cursor:pointer;
}
.main-header-instruments, .main-content-table input[type="checkbox"]:checked + label span {
    background:url(../img/main-png/checkbox-checked-bg.png) top no-repeat;
}
.main-header-instruments, .main-content-table input[type="checkbox"]:checked + label {
  color: #FF1857;
}
.main-header-instruments, .main-content-table input[type="checkbox"]:disabled + label span {
    background:url(../img/main-png/checkbox-disabled-bg.png) top no-repeat;
}

.main-header-instruments input[type="checkbox"]:checked + label span {
    background:url(../img/main-png/checkbox-checked-bg.png) top no-repeat;
}
.main-header-instruments input[type="checkbox"]:checked + label {
  color: #FF1857;
}
.main-header-instruments input[type="checkbox"]:disabled + label span {
    background:url(../img/main-png/checkbox-disabled-bg.png) top no-repeat;
}

.checkbox input[type="checkbox"]:checked + label span {
    background:url(../img/main-png/checkbox-checked-bg.png) top no-repeat;
}
.checkbox input[type="checkbox"]:checked + label {
  color: #FF1857;
}
.checkbox input[type="checkbox"]:disabled + label span {
    background:url(../img/main-png/checkbox-disabled-bg.png) top no-repeat;
}
/*main-header START*/
.main-header {
  width: 100%;
  height: 120px;
  position: relative;
  background-color: #252525;
}
.main-header-title {
  position: absolute;
  left: 24px;
  top: 20px;
  color: #d6d6d6;
  text-transform: uppercase;
  font-size: 1.1em;
  width: 350px;
}
.main-header-title:hover {
  cursor: pointer;
}
.main-header-title > .logo {
  margin-bottom: -13px;
  width: 19px;
  margin-right: 1.2em;
}
.main-header-title > .title {
  letter-spacing: 0.1em;
}
.main-header-title > .settings {
  margin-bottom: -6px;
  width: 23px;
  margin-left: 0.9em;
}
.main-header-instruments {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 292px;
  height: 49px;
  background-image:url(../img/menu/instruments-open.png);
  background-repeat: no-repeat;
}
.main-header-instruments:hover {
  cursor: pointer;
}
.main-header-instruments:hover .tools {
  display: block;
}
.main-header-instruments > .tools:hover {
  cursor: auto;
}
.main-header-instruments > .tools label:hover {
  cursor: pointer;
}
.main-header-instruments > .tools {
  display: none;
  width: 242px;
  height: 323px;
  position: absolute;
  z-index: 2;
  background-color: #828180;
  left: 0;
  top: 49px;
  font-size: 1.05em;
  padding-top: 25px;
}
.main-header-instruments > .tools a {
  color: #fff;
  text-decoration: none;
}
.main-header-instruments > .tools div {
  margin-left: 17px;
  margin-bottom: 10px;
}
.main-header-instruments > .tools span {
  margin-right: 19px;
  float: left;
  margin-top: 3px;  
}
.main-header-instruments > .tools > .active {
  color: #fff !important;
}
.main-header-instruments > .tools > .disabled {
  color: #fff !important;
}
.main-header-instruments > div {
  text-transform: uppercase;
  color: #fff;
  font-family: "PTSansNarrowBold";
  letter-spacing: 0.1em;
  font-size: 0.9em;
  position: absolute;
  left: 50px;
  top: 16px;
}
.main-header-instruments:hover > div {
  color: #FF1857;
}
.main-header-user_info {
  position: absolute;
  top: 25px;
  right: 46px;
  width: 280px;
}
.main-header-user_info > .search {
  width: 25px;
  margin-bottom: -5px;
  margin-right: 1.7em;
  visibility: hidden;
}
.main-header-user_info .icon {
  width: 14px;
  margin-bottom: -2px;
  margin-right: 0.8em;
}
.main-header-user_info > .name {
  color: #cccccc;
  font-size: 1em;
  text-decoration: none;
}
.main-header-user_info > .rights {
  color: #FF1857;
  display: block;
  font-size: 1em;
  float: right;
  margin-top: 5px;
  text-decoration: none;
}
.main-header-trash {
  position: absolute;
  right: 46px;
  top: 85px;
  width: 90px;
}
.main-header-trash > .plus {
  color: #FF1857;
  font-size: 4.5em;
  line-height: 0;
}
.main-header-trash .trash {
  width: 18px;
  margin-top: -13px;
  float: right;
}
.main-header-trash > .number {
  color: #FF1857;
  font-size: 0.9em;
  float: right;
  margin-left: 5px;
  margin-top: -15px;
}
.main-header-menu {
  position: absolute;
  left: 292px;
  top: 80px;
  /*height: 49px;*/
  height: 29px;
  overflow: hidden;
  width: 60%;
}
.main-header-menu > a {
  display: inline-block;
  margin-left: 2em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PTSansNarrowBold";
  letter-spacing: 0.15em;
}
.main-header-menu > .active {
  color: #FF1857;
}
.main-header-menu > a:hover {
  color: #FF1857;
}
.main-header-menu > sup {
  color: #FF1857;
}
/*main-header END*/

/*main-content START*/
.main-content {
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.main-content-header {
  width: 100%;
  position: relative;
  height: 40px;
  text-align: center;
}
.main-content-header > .what_doing {
  width: 65px;
  float: left;
  text-align: right;
  color: #868689;
  font-size: 0.8em;
  line-height: 1.2em;  
}
.main-content-header > .checkbox {
  float: left;
  margin-left: 15px;
}
.main-content-header > .action {
  display: inline-block;
  color: #868689;  
  font-size: 0.8em;
  margin-left: 23px;
  max-width: 130px;
}
.main-content-header > .action:hover {
  cursor: pointer;
}
.main-content-header > .action img {
  width: 16px;
  margin-bottom: -3px;
  margin-right: 6px;
}

.main-content-header > .group {
  margin-top: 3px;
  display: block;
  float: left;
}

.main-content-header > .group img {
  float: left;
  margin-top: -2px;
  width: 9px;
}

.main-content-header > .delete {
  margin-top: 4px;  
  display: block;
  float: left;
	margin-right: 60px;
}

.main-content-header > .fenix {
  margin-top: -1px;
  display: block;
  float: left;
}

.main-content-header > .fenix img {
  width: 30px;
}

.main-content-header > .create {
  height: 33px;
  float: left;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: -4px;
  text-decoration: none;
  display: block;
}
.main-content-header > .create span:before {
  color: #FF1857;
  content: "+";  
  display: block;
  float: left;
  font-size: 3.3em;
  line-height: 0;
  margin-top: 10px;
  margin-right: 10px;
}
.main-content-header > .create span {
  display: inline-block;
  margin-top: 5px;
}
.main-content-header > .search {
  width: 164px;
  height: 31px;
  border: 1px #cdcdcd solid;
  margin-top: -4px;
  float: left;
  margin-left: 11px;  
}
.main-content-header > .search.long-search {
  margin-left: 0 !important;
  width: 19% !important;
}
.main-content-header > .search.long-search input[type="text"] {
  width: 81% !important;
}
.main-content-header > .search input[type="text"] {
  width: 120px;
  border: 0;
  margin: 0;
  height: 29px;
  padding-left: 5px;
  display: block;
  float: left;
}
.main-content-header > .search input[type="text"]:focus {
  outline: none;  
}
.main-content-header > .search img {
  width: 23px;
  margin-top: 4px;
  margin-left: 4px;
}
.main-content-header > .search img:hover {
  cursor: pointer;
}
.main-content-header > .settings img {
  width: 23px;
  margin-bottom: -6px;  
}
.main-content-header > .title {
  position: absolute;
  right: 0;
  top: 12px;
  text-transform: uppercase;
  font-size: 1.85em;
  font-family: "PTSansNarrowBold";
  letter-spacing: 0.05em;
  color: #FF1857;
  line-height: 0;
}
.main-content-table {
  width: 100%;
  position: relative;
  margin-top: 16px;
  margin-bottom: 100px;
}
.main-content-table > table {
  width: 100%;
  border-spacing: 0;
  border-bottom: 1px #ccc solid;  
}
.main-content-table > table th {
  color: #ccc;
  font-size: 0.8em;
  font-weight: 400;
  text-align: left;
  padding-bottom: 12px;
}
.main-content-table > table th a {
  color: #ccc;
  text-decoration: none;
}
.main-content-table > table .edit {
  width: 77px;
}
.main-content-table > table .checkbox {
  width: 50px;
}
.main-content-table > table .edit > .settings {
	margin-left: 11px;
  margin-bottom: -10px;
	width: 27px;	
}
.main-content-table > table .edit > .settings:hover {
	cursor: pointer;
}
.main-content-table > table .row:hover {
  background-color: #eee;
}

.main-content-table > table .row:hover .title { color: #828180 !important; }

.main-content-table > table .row td {
  border-top: 1px white solid;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 8px;
  color: #828180;
  font-size: 0.9em;
  padding-right: 10px;
}
.main-content-table > table .row td:focus {
  outline: none;
}
.main-content-table > table .row td[contentEditable=true]:hover {
  cursor: text;
}
.main-content-table > table .row td:hover {
  cursor: default;
}
.main-content-table > table .title {
  color: white !important;
  font-size: 1.2em !important;
  font-family: "PTSansNarrowBold";
}
.main-content-table > table .image-miniature {
	max-width: 110px;
}
.main-content-table > table .id {
  color: #828180 !important;
  font-size: 1.2em !important;
  font-family: "PTSansNarrowBold";
  width: 25px;
}
.main-content-table > table .date {
  min-width: 70px;
}
.main-content-table > table .delete-td {
  text-align: center !important;
  width: 7%;
}
.main-content-table > table .preview_icon {
  width: 25px;
  margin-left: 12px;
}
.main-content-table > table .edit_icon {
  width: 14px;
  margin-left: 12px;
}
.main-content-table > table .publish_icon {
  width: 23px;
}
.main-content-table > table .delete_icon {
  width: 17px;
}
.main-content-table > table .checkbox-td span {
  margin-top: -8px;
}
.main-content-page_nav {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}
.main-content-page_nav > a {
  text-decoration: none;
  font-size: 1.1em;
  display: inline-block;
  height: 26px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 0px;
}
.main-content-page_nav > .active {
  background-color: #FF1857;
}
/*main-content END*/

/*main-footer START*/
.main-footer {
  width: 100%;
  height: 281px;
  position: relative;
  background-color: #828180;
}
.main-footer-content {
  margin: 0 auto;
  width: 975px;	
}
.main-footer-block-item {
  float: left;
  width: auto;
  margin-left: 46px;
  margin-top: 35px;
}
.main-footer-block-item.activity {
  height: 135px;
  overflow: hidden;
}
.main-footer-block-item > .title {
  color: #fff;
  font-size: 1em;  
  font-family: "PTSansNarrowBold";
  letter-spacing: 0.1em;
}
.main-footer-block > .activity a {
  color: #FF1857;  
}
.main-footer-block > .activity ul > li {
  margin-bottom: 5px;
}
.main-footer-block >.show_all {
  width: 125px;
  height: 23px;
  border: 1px #fff solid;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  display: block;
  position: absolute;
  bottom: 25px;
  left: 127px;
  padding-top: 2px;
}
.main-footer-block-item > ul {
  list-style: none;
  margin-left: -20px;
  margin-top: 10px;  
}
.main-footer-block-item ul > li {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: #fff;  
}
.main-footer-block-item a {
  text-decoration: none;
  color: #fff;  
}
.main-footer-block-item a:hover {
  color: #FF1857;
}
.main-footer-block {
  float: left;
  height: 229px;
  position: relative;
}
.main-footer-block_1 {
  width: 366px;
  border-right: 1px #fff solid;
}
.main-footer-block_2 {
  width: 380px;
  border-right: 1px #fff solid;
}
.main-footer-block_3 {
  width: 225px;
}
.main-footer-bottom {
  width: 100%;
  border-top: 1px #fff solid;
  color: #d6d6d6;
  text-align: center;
  float: left;
  padding-top: 15px;
}
/*main-footer END*/

/*edit-page START*/
.main-content-header > .id_record {
  color: #FF1857;
  font-size: 2em;
  letter-spacing: 0.01em;
  width: 65px;
    float: left;
  line-height: 0.55em;
  font-family: "PTSansNarrowBold";
}
.main-content-header > .preview_icon {
  line-height: 0.9em;
  margin-left: -45px !important;
  margin-top: 4px;
}
.main-content-header > .preview_icon:hover {
  cursor: pointer;
}
.main-content-header > .preview_icon img {
  width: 36px;
  float: left;
  margin-top: -6px;
}
.main-content-header > .save {
  height: 33px;
  display: inline-block;
  background-color: #828180;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 60px;
  margin-top: -4px;
}
.main-content-header > .save:hover {
  cursor: pointer;
}
.main-content-header > .save span {
  display: inline-block;
  margin-top: 5px;
}
.main-content-header > .trash {
  margin-top: 1px;
  display: inline-block;
  text-decoration: none;
}
.main-content-header > .trash:hover {
  cursor: pointer;
}
.main-content-header > .trash img {
  width: 24px;
  float: left;
  margin-top: -8px;
}
.main-content-header > .published img {
  width: 61px;
  float: left;
  margin-top: -15px;
  margin-right: 15px;
}
.main-content-header > .published:hover {
  cursor: pointer;
}
.main-content-header > .not-published:hover {
  cursor: pointer;
}
.main-content-header > .not-published img {
  margin-top: 0 !important;
  width: 61px;
  float: left;
  margin-right: 15px;
}
.main-content-header > .not-published {
  margin-top: 4px;
  margin-left: 50px;
}
.main-content-header > .published {
  margin-top: 4px;
  margin-left: 50px;
}
.main-content-header > .comeback {
  display: inline-block;
  text-decoration: none;
  height: 28px;
  padding-left: 17px;
  padding-right: 17px;
  color: #868689;  
  font-size: 1em;
  border: 1px #ccc solid;
  padding-top: 5px;
  margin-top: -5px;
  margin-left: 16px;
}
.main-content-edit_table {
  width: 100%;
  position: relative;
  border-top: 1px #ccc solid;
  margin-top: 30px;
  min-height: 200px;
}
.main-content-edit_table > .change_lang {
  width: 224px;
  text-align: right;
  position:absolute;
  right: 0;
  top: 13px;
  font-size: 1.1em;
}
.main-content-edit_table > .change_lang:hover {
  cursor: pointer;  
}
.main-content-edit_table > .change_lang > #ru {
  color: #FF1857;
  margin-right: 30px;
}
.main-content-edit_table > .change_lang > #en {
  color: #b4b6b8;
}
.main-content-edit_table-form {
  width: 750px;
  margin: 70px auto 0 auto;
}
.edit_table-form__item {
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}
/*item__related-list START*/
.edit_table-form__item > .item__related-list {	
  width: 600px;
  margin-left: 145px;
  border-bottom: 1px #a7a9ac solid;
  font-size: 0.9em;
}
.edit_table-form__item > .item__related-list > .related-list__item {
  padding: 5px;
  overflow: hidden;	
}
.edit_table-form__item > .item__related-list > .related-list__item:hover {
  background-color: #eee;
  cursor: default;	
}
.edit_table-form__item > .item__related-list > .related-list__item > .related-list__item-id {
  color: #FF1857;
  display: block;
  float: left;
  margin-right: 10px;
  margin-left: 7px;	
}
.edit_table-form__item > .item__related-list > .related-list__item > .related-list__item-name {
  display: block;
  float: left;
  width: 500px;
}
.edit_table-form__item > .item__related-list > .related-list__item > .related-list__item-name-2 {
  display: block;
  float: left;
  width: 270px;
}
.edit_table-form__item > .item__related-list > .related-list__item > .related-list__item-type {
  display: inline-block;
  color: #a7a9ac;
  width: 220px;
}
.edit_table-form__item > .item__related-list > .related-list__item > .related-list__item-close {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  width: 14px;
  height: 13px;
}
.edit_table-form__item > .item__related-list > .related-list__item > .related-list__item-close:hover {
  cursor: pointer;
}
.edit_table-form__item > .item__related-select {	
  width: 600px;
  margin-left: 145px;
  overflow: hidden;
}
.edit_table-form__item > .item__related-select > .related-select__select-select {
	margin-top: 2px;
  margin-left: 3px;
  width: 185px;
}
.edit_table-form__item > .item__related-select > .related-select__select-name {
  color: #828180;
  font-size: 0.8em;
  margin-left: 13px;
  margin-top: 7px;
}
.edit_table-form__item > .item__related-select > .related-select__select-zone {
  width: 400px;
  height: 28px;
  border: 1px #828180 solid;
  margin-left: 13px;
  margin-top: 2px;
  float: left;
}
.edit_table-form__item > .item__related-select > .related-select__select-zone-2 {
	width: 300px;
}
.edit_table-form__item > .item__related-select > .related-select__select-zone-2 > .zone__text {
	width: 250px !important;
}
.edit_table-form__item > .item__related-select > .related-select__select-zone > .zone__text {
  width: 350px;
  margin-left: 10px;
  margin-top: 3px;
  float: left;
  display: block;
  height: 20px;
  border: 0 !important;
  font-size: 0.8em !important;	
}
.edit_table-form__item > .item__related-select > .related-select__select-zone > .zone__text::-webkit-input-placeholder {
  color: #dcdcdc;
}
.edit_table-form__item > .item__related-select > .related-select__select-zone > .zone__arrow {
  float: right;
  /*width: 15px;
  height: 13px;
  margin-top: 8px;
  margin-right: 12px;*/
  width: 8px;
  height: 8px;
  margin-top: 10px;
  margin-right: 10px;	
}
.edit_table-form__item > .item__related-select > .related-select__select-add {
  float: right;
  border: 1px #a7a9ac solid;
  width: 84px;
  height: 25px;
  color: #a7a9ac;
  text-align: center;
  margin-top: 2px;
  padding-top: 3px;	
}
.edit_table-form__item > .item__related-select > .related-select__select-add:hover {
  cursor: pointer;
}
.edit_table-form__item > .item__related-select_list {	
  width: 402px;
  margin-left: 158px;
  overflow: hidden;
  background-color: #7d7d7d;
  display: none;
}
.edit_table-form__item > .item__related-select_list-2 {	
  width: 302px;
}
.edit_table-form__item > .item__related-select_list-2 > ul { 
  width: 250px;
}
.edit_table-form__item > .item__related-select_list > ul {
  list-style: none;
  color: #fff;
  margin-left: -33px;
  width: 350px;
  overflow: hidden;	
}
.edit_table-form__item > .item__related-select_list > ul li {
  padding: 5px;
}
.edit_table-form__item > .item__related-select_list > ul .hover:hover {
  cursor: pointer;
  background-color: #929292;
}
.edit_table-form__item > .item__related-select_list > ul .active {
  cursor: default;	
  background-color: darkgray;	
}
/*item__related-list END*/
.edit_table-form__item > .item__name {
  width: 112px;
  font-size: 0.8em;
  color: #828180;
  display: inline-block;
  text-align: right;
  margin-right: 30px;
}
.edit_table-form__item select:focus {
  outline: none;
}
.edit_table-form__item select {
  border: 1px #828180 solid;
  height: 30px;
  min-width: 179px;
  color: #7d7d7d;
  padding-left: 15px;
}
.edit_table-form__item select > option:disabled {
  display: none;  
  color: #444444;
}
.edit_table-form__item input[type="text"]:focus {
  outline: none;
}
.edit_table-form__item input[type="password"]:focus {
  outline: none;
}
.edit_table-form__item input[type="text"] {
  height: 28px;
  width: 600px;
  font-size: 1.2em;
  border-bottom: 1px #ccc solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.edit_table-form__item input[type="password"] {
  height: 28px;
  width: 600px;
  font-size: 1.2em;
  border-bottom: 1px #ccc solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.edit_table-form__item .password-edit-2 {
	margin-left: 142px;
  margin-top: 7px;
}
.edit_table-form__item .input__small {
  width: 58px !important;
  text-align: center;
  border: 1px #828180 solid;  
  font-family: "PTSansNarrowBold";
  border: 1px #828180 solid !important;  
}
.edit_table-form__item input[type="date"]:focus {
  outline: none;
}
.edit_table-form__item input[type="date"] {
  height: 28px;
  width: 176px;
  font-size: 1.2em;
  border: 1px #828180 solid;  
  font-family: "PTSansNarrowBold";
  text-align: center;
}
.edit_table-form__item .item__time {
  font-size: 0.8em;
  color: #828180;
  display: inline-block;
  text-align: left;
  margin-right: 5px;
  margin-left: 17px;
}
.edit_table-form__item > .item__inf {
  font-size: 0.8em;
  color: #828180;
  display: inline-block;
  text-align: right;
  margin-left: 12px;
}
.edit_table-form__item input[type="time"]:focus {
  outline: none;
}
.edit_table-form__item input[type="time"] {
  height: 28px;
  width: 147px;
  font-size: 1.2em;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px #a7a9ac solid;  
  font-family: "PTSansNarrowBold";
  text-align: center;
}
.edit_table-form__item > .input__title {
  font-family: "PTSansNarrowBold";
  font-size: 1.75em !important;  
}
.edit_table-form__item > .input__expansion-title {
  font-family: "PTSansNarrowBold";
  font-size: 1.3em !important;  
}
.edit_table-form__item > .input__work-title {
  font-size: 1em !important;  
}
.edit_table-form__item > .input__copyright-title {
  font-size: 0.8em !important;  
}
.edit_table-form__item > .input__caption-title {
  font-size: 1em !important;
  font-family: "PTSansNarrowBold";  
}
.edit_table-form__item > .textarea__anons {
  border: 1px #cccccc solid;
  resize: none;
  font-size: 1em;
}
.edit_table-form__item > textarea {
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  height: 155px;
  width: 578px;
  font-family: "PTSansNarrowRegular" !important;
}
.edit_table-form__item > textarea:focus {
  outline: none;
}
.edit_table-form__item > .item__name-textarea {
  display: block;
  float: left;
  margin-right: 33px;
}
.main-content-header_bottom {
  margin-top: 52px;
  margin-bottom: 29px;  
}
.edit_table-form__item > .item__upload input[type="file"] {
  display: none;
}
.edit_table-form__item > .item__upload {
  background-color: #a7a9ac;
  color: #fff;
  width: 600px;
  height: 57px;
  position: absolute;
  right: 5px;
  top: 0;  
}
.edit_table-form__item > .item__upload label:hover {
  cursor: pointer;
}
.edit_table-form__item > .item__upload_new {
  background: transparent;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.edit_table-form__item > .item__upload_new > .delete-img-now {
  position: absolute;
  top: 9px;
  right: 26px;  
}
.edit_table-form__item > .item__upload_new > .delete-img-now:hover {
  cursor: pointer;
}
.edit_table-form__item > .item__upload_new > .delete-img-now img {
  width: 18px;
}

.edit_table-form__item > .item__upload_new > .delete-pdf-now {
  position: absolute;
  top: 9px;
  right: 26px;  
}
.edit_table-form__item > .item__upload_new > .delete-pdf-now:hover {
  cursor: pointer;
}
.edit_table-form__item > .item__upload_new > .delete-pdf-now img {
  width: 18px;
}

.edit_table-form__item > .item__upload:hover {
  cursor: pointer;
}
.edit_table-form__item > .item__upload img {
  width: 32px;
  display: inline-block;
  margin-top: 11px;
  float: left;
}
.edit_table-form__item > .item__upload span {
  float: left;
  margin-top: 17px;
  margin-right: 12px;
  margin-left: 242px;
}
.edit_table-form__item-image {
  min-height: 57px;  
}
.edit_table-form__item-image > .loader {
  width: 46px;
  margin-left: 400px;
  margin-top: 20px;
  display: none;	
}
.edit_table-form__item-image > img {
  margin-left: 145px;
  width: 600px;
  margin-top: -17px;
}

.edit_table-form__item-image > .pdf-logo {
	height: 70px;
  width: 55px;
  margin: 100px 0 0 274px;	
}

.edit_table-form__item-image > .pdf-name {
	color: #000;
	display: block;
	font-family: "PTSansNarrowBold";
	margin: 10px 0 0 150px;
	text-align: center;
	text-decoration: none;
  width: 600px;
}

.edit_table-form__item-image > .item__dop_img_inf {
  padding-top: 63px;
  margin-left: 128px;
}
.edit_table-form__item-image > .item__dop_img_inf_with_img {
  padding-top: 8px;
  margin-left: 128px;
}
.edit_table-form__item-image > .item__dop_img_inf input {
  width: 542px !important;  
}
.edit_table-form__item-image > .item__dop_img_inf .item__time {
  width: 50px;
}
/*edit-page END*/

/*CKEditor START*/
.cke_chrome {
    width: 598px !important;
    margin-left: 146px !important;
  font-family: "PTSansNarrowRegular" !important;
}
/*CKEditor END*/
.ru {
  display: block;
}
.en {
  display: none;
}

/*edit filters START*/
.main-content-table > table th .filter {
  padding: 2px 4px;
  display: inline-block;
	white-space: nowrap;
}

.main-content-table > table th .filter img {
	margin-left: 2px;
  width: 11px;
}

.main-content-table > table th .filter:hover {
	cursor: pointer;
}

.main-content-table > table th .filter.active {
	background-color: #FF1857;
	color: #838281;
}

.main-content-table > table th .filter.active a {
	color: #838281;
}
/*edit filters END*/