@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-family: "PTSansNarrowRegular";
	font-size: 1em;
}
.main {
    margin: 0 auto;
    width: 360px;
    height: 280px;
	background-color: #828180;
	margin-top: 10%;
    position: relative;
}
.main-site {
	width: 100%;
	position: relative;
	text-align: center;
	padding-top: 12px;
}
.main-site a {
	text-decoration: none;
	font-family: "PTSansNarrowBold";
	color: #FF1857;
	font-size: 1.3em;
	letter-spacing:0.05em;
}
.main-title {
	width: 100%;
	position: relative;
	border-top: 1px #fff solid;
	border-bottom: 1px #fff solid;
	text-transform: uppercase;
	text-align: center;
	font-size: 1em;
	color: #fff;
	margin-top: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	letter-spacing:0.05em;
}
.main-identification {
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 1em;
	color: #d6d6d6;
	letter-spacing:0.05em;
	margin-top: 15px;
	margin-bottom: 16px;
}
.main-form {
	width: 100%;
	position: relative;
}
.main-form > div {
	margin-top: 10px;
}
.main-form .name {
	float: left;
	color: #fff;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	margin-top: 4px;
	margin-right: 25px;
	width: 138px;
	text-align: right;
}
.main-form input[type="text"]:focus, input[type="password"]:focus {
	outline: none;	
}
.main-form input[type="text"], input[type="password"] {
	width: 131px;
	height: 23px;
	border: 0;
	padding-left: 5px;
	padding-right: 5px;
}
.main-form .submit {
	width: 89px;
	height: 20px;
	text-align: center;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	color: #fff;
	border: 1px #fff solid;
	line-height: 1.5em;
	margin-left: 42px;
	float: left;
	text-transform: uppercase;
}
.main-form .submit:hover {
	cursor: pointer;
}
.main-form .change_pass {
	color: #fff;
	text-decoration: none;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	margin-left: 111px;
}

.main-form .change_pass:hover {
	cursor: pointer;
}

.main-form > .control_but {
	margin-top: 25px;
}
.pop-up {
	top: 25% !important;
}