@charset "utf-8";
/* CSS Document */

.pop-up input[type="checkbox"]:checked + label span {
    background:url(../img/main-png/checkbox-checked-bg.png) top no-repeat;
}

.pop-up input[type="checkbox"]:disabled + label span {
    background:url(../img/main-png/checkbox-disabled-bg.png) top no-repeat;
}

.pop-up-bg {
	background-color: #6d6e71;
	display: none;
	height: 100%;
	opacity: .65;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;
}

.pop-up-bg:hover {
	cursor: pointer;
}

.pop-up {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 4;
}

.pop-up > .content {
	background-color: #252525;
  border-left: 1px #cccccc solid;
  border-top: 1px #cccccc solid;
  box-shadow: 10px 8px 7px -5px rgba(0,0,0,0.25), 3px 7px 10px 1px rgba(0,0,0,0.22);
	color: #838281;
	margin: 0 auto;
	overflow: hidden;
	width: 975px;
}

.pop-up > .content .checkbox-label span {
    margin: -3px 10px 0 0;
}

.pop-up > .content .checkbox-label:hover {
	cursor: pointer;
}

.pop-up > .content .title {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.pop-up > .content > .col-left {
	float: left;
	margin: 30px 0 60px 60px;
	width: 275px;
}

.pop-up > .content > .col-left > .checkbox-group {
	margin-left: 20px;
}

.pop-up > .content > .col-left > .checkbox-group > .item {
	margin-bottom: 2px;
}

.pop-up > .content > .col-right {
	float: left;
	margin: 30px 0 60px 0;
	width: 570px;
}

.pop-up > .content > .col-right > .field-mapping {
	border-bottom: 1px #aaa solid;
	padding-bottom: 10px;
	width: 100%;
	white-space: nowrap;
}

.pop-up > .content > .col-right > .field-mapping > .title {
	margin-bottom: 35px;
}

.pop-up > .content > .col-right > .field-mapping > .fields {
	height: 180px;
	overflow-x: scroll;
	width: 100%;
}

.pop-up > .content > .col-right > .field-mapping > .fields > .item:first-child {
	border-left: 1px #aaa solid;
}

.pop-up > .content > .col-right > .field-mapping > .fields > .item {
	background-color: #fff;
	border-right: 1px #aaa solid;
	display: inline-block;
	height: 148px;
	overflow: hidden;
  width: 30px;
}

.pop-up > .content > .col-right > .field-mapping > .fields > .item:hover {
	cursor: move;
}

.pop-up > .content > .col-right > .field-mapping > .fields > .item > span {
	display: block;
  transform: rotate(-90deg);
	transform-origin: center center;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	margin: 116px 0px 0px -6px;
}

/*edit filters START*/

.filters-pop-up input[type="checkbox"]:checked + label span {
    background:url(../img/main-png/checkbox-checked-bg.png) top no-repeat;
		color: #838281;
}

.filters-pop-up input[type="checkbox"]:checked + label {
		color: #838281;
}

.filters-pop-up input[type="checkbox"]:disabled + label span {
    background:url(../img/main-png/checkbox-disabled-bg.png) top no-repeat;
}

.filters-pop-up {
	background-color: #fff;
  border-left: 1px #cccccc solid;
  border-top: 1px #cccccc solid;
  box-shadow: 10px 8px 7px -5px rgba(0,0,0,0.25), 3px 7px 10px 1px rgba(0,0,0,0.22);
	color: #838281;
	display: none;
	position: absolute;
	top: 25px;
  left: 321px;
	z-index: 2;
}

.filters-pop-up > .checkbox-group {
	padding: 20px 25px;
}

.filters-pop-up > .checkbox-group > .item {
	margin-bottom: 2px;
}

.filters-pop-up > .checkbox-group > .item label:hover {
	cursor: pointer;
}

.filters-pop-up > .checkbox-group > .item span {
	margin-right: 10px;
}

/*edit filter END*/

/*edit group START*/
.groups-pop-up {
	background-color: #fff;
  border-left: 1px #cccccc solid;
  border-top: 1px #cccccc solid;
  box-shadow: 10px 8px 7px -5px rgba(0,0,0,0.25), 3px 7px 10px 1px rgba(0,0,0,0.22);
	color: #838281;
	height: 280px;
	position: absolute;
	display: none;
	top: 28px;
  left: 117px;
	width: 400px;
	z-index: 2;
}

.groups-pop-up > .nav {
	overflow: hidden;
	width: 100%;
}

.groups-pop-up > .nav > .item {
	background-color: #e8e8e8;
	border-bottom: 1px #a2a2a2 solid;
	float: left;
	height: 31px;
  padding-top: 9px;
	text-align: center;
	width: 199px;
}

.groups-pop-up > .nav > .item:hover {
	cursor: pointer;
}

.groups-pop-up > .nav > .active {
	background-color: #fff;
	border-bottom-color: #fff;
}

.groups-pop-up > .nav > .active:hover {
	cursor: default;
}

.groups-pop-up > .nav > .item:first-child {
	border-right: 1px #a2a2a2 solid;
}

.groups-pop-up input[type="text"] {
    height: 20px;
    width: 340px;
		font-family: "PTSansNarrowBold";
    font-size: 1em;
    border-bottom: 1px #ccc solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.groups-pop-up input[type="text"]:focus {
	outline: none;
}

.groups-pop-up > .content .field-title {
	margin: 15px 0 10px 0;
}

.groups-pop-up > .content {
	height: 200px;
	margin: 0 0 0 30px;
	position: relative;
}

.groups-pop-up select {
    border: 1px #828180 solid;
    height: 30px;
    width: 290px;
    color: #7d7d7d;
    padding-left: 15px;
}

.groups-pop-up select:focus {
	outline: none;
}

.groups-pop-up > .content > .bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 336px;
}

.groups-pop-up > .content > .bottom > .button {
  height: 33px;
  float: right;
  background-color: #828180;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
	margin-top: -7px;
}

.groups-pop-up > .content > .bottom > .button:hover {
	cursor: pointer;
}

.groups-pop-up > .content > .bottom > .button span {
	display: inline-block;
  margin-top: 5px;
}

.groups-pop-up > .content > .content__select-zone {
	width: 340px;
  height: 28px;
	border-bottom: 1px #ccc solid;
}

.groups-pop-up > .content > .content__select-zone .zone__text {
  margin-top: 3px;
  float: left;
  display: block;
  height: 20px;
	border: 0;
	width: 320px;
}

.groups-pop-up > .content > .content__select-zone .zone__arrow {
  float: right;
  width: 8px;
  height: 8px;
  margin-top: 10px;
  margin-right: 10px;
}

.groups-pop-up > .content > .content-select_list {
  width: 340px;
  overflow: hidden;
  background-color: #7d7d7d;
  /* display: none; */
}

.groups-pop-up > .content > .content-select_list > ul {
	list-style: none;
  color: #fff;
  margin-left: -40px;
  width: 340px;
  overflow: hidden;
}

.groups-pop-up > .content > .content-select_list > ul li {
	padding: 5px;
}

.groups-pop-up > .content > .content-select_list > ul .hover:hover {
	cursor: pointer;
  background-color: #929292;
}

.groups-pop-up > .content > .content-select_list > ul .active {
    cursor: default;
    background-color: darkgray;
}

#groups-pop-up-add__button-delete {
	margin-left: 15px;
}
/*edit group END*/

/*admin-message START*/
.pop-up > .content > .message {
  color: #a7a9ac;
	font-size: 1.5em;
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
  text-align: center;
  max-height: 250px;
}

.pop-up > .content > .buttons {
	margin-bottom: 20px;
	text-align: center;
}

.pop-up > .content > .buttons > .button {
	height: 33px;
  min-width: 100px;
  font-size: 1.5em;
  background-color: #828180;
  color: #fff;
  padding: 0 15px;
  margin: 0 18px;
  text-decoration: none;
  display: inline-block;
}

.pop-up > .content > .buttons > .button.ok {
	background-color: #FF1857;
	color: #6d6e71;
}

.pop-up > .content > .buttons > .button:hover {
	cursor: pointer;
}
/*admin-message END*/