@charset "utf-8";
/* CSS Document */

.personal-area-header {
	font-size: 1.8em;
	letter-spacing: 0.05em;
	overflow: hidden;
	width: 100%;
}

.personal-area-header > .associate-name {
	background-color: #FF1857;
	color: #fff;
	float: left;
  font-family: "PTSansNarrowBold";
	padding: .1em 3%;
}

.personal-area-header > .title {
	float: right;
  font-family: "PTSansNarrowBold";
	margin-right: 1%;
	text-transform: uppercase;
}

.personal-area-content {
	margin: 40px 0;
	overflow: hidden;
	width: 100%;
}

.personal-area-content > .lt {
	border-right: 1px #cccccc solid;
	float: left;
	margin: 0 2% 0 1%;
	padding-right: 1%;
	width: 46.9%;
}

.personal-area-content > .rt {
	float: left;
	margin: 0;
	width: 46.9%;
}

.personal-area-content > .lt > .edit-item {
	width: 100%;
  margin-bottom: 16px;
  position: relative;
}

.personal-area-content > .lt > .edit-item > .edit-item__name {
	width: 70px;
  font-size: 0.8em;
  color: #828180;
  display: inline-block;
  text-align: right;
  margin-right: 30px;
}

.personal-area-content > .lt > .edit-item > .edit-item__select:focus {
    outline: none;
}

.personal-area-content > .lt > .edit-item > .edit-item__select {
    border: 1px #828180 solid;
    height: 30px;
    color: #7d7d7d;
    padding-left: 15px;
}

.personal-area-content > .lt > .edit-item > .edit-item__input {
	height: 28px;
  width: 274px;
  font-size: 1.2em;
  border-bottom: 1px #ccc solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
	padding: 0 10px;
	font-family: "PTSansNarrowBold";
}

.personal-area-content > .lt > .edit-item > .edit-item__input:focus {
	outline: none;
}

.personal-area-content > .lt > .edit-item > .edit-item__pass-name {
	width: 60px;
  font-size: 0.9em;
  color: #444;
  display: inline-block;
  text-align: center;
}

.personal-area-content > .lt > .edit-item > .edit-item__password {
  width: 93px !important;
}

.personal-area-content > .lt > .edit-item > .change-request {
	height: 15px;
	margin-left: 25px;
	width: 23px;
}

.personal-area-content > .lt > .edit-item > .change-request:hover {
	cursor: pointer;
}

.personal-area-content > .lt > .edit-item > .password-status {
	height: 18px;
	margin-left: 29px;
	width: 18px;
}

.personal-area-content > .lt > .note {
	margin-bottom: 30px;
	width: 92%;
}

.personal-area-content > .lt > .note > .header {
	background-color: #f8ecaf;
	color: #828180;
	font-size: 1em;
	height: 35px;
	padding: 15px 0 0 7%;
	width: 93%;
}

.personal-area-content > .lt > .note > .content {
	background-color: #fff3b4;
	color: #828180;
	display: block;
	font-style: italic;
	min-height: 200px;
	padding: 20px 7% 0 7%;
	width: 86%
}

.personal-area-content > .lt > .note > .content:focus {
	outline: none;
}

.personal-area-content > .rt .button {
	color: #868689;
  display: inline-block;
  padding: 4px 17px 8px 17px;  
  font-size: 1em;
  border: 1px #ccc solid;
	text-decoration: none;
  text-transform: lowercase;
}

.personal-area-content > .rt .button:hover {
	cursor: pointer;
}

.personal-area-content > .rt .button.title {
	font-family: "PTSansNarrowBold";
	font-size: 2em;
}

.personal-area-content > .rt .button.title:hover {
	cursor: default;
}

.personal-area-content > .rt > .activity-diary {
	border-bottom: 1px #828180 solid;
	border-top: 1px #828180 solid;
	color: #828180;
	margin: 30px 0;
	padding: 5px 0 3px 0;
	width: 100%;
}

.personal-area-content > .rt > .activity-diary > .item {
	margin-bottom: 2px;
}

.personal-area-content > .rt > .activity-diary > .item.empty {
	margin: 10px;
}

.personal-area-content > .rt > .activity-diary > .item > .date {
	margin-right: 5px;
}

.personal-area-content > .rt > .activity-diary a {
	color: #FF1857;
	text-decoration: none;
}