@charset "utf-8";
/* CSS Document */
@font-face {
font-family: "PTSansNarrowRegular";
	src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot");
	src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff") format("woff"),
		url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PTSansNarrowBold";
	src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
	src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
		url("../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
