/******************************************************************
Theme Name: Magazine 
Description: 
Author: Colorlib
Author URI: 
Version: 1.0
Created: 
******************************************************************/
/*------------------------------------------------------------------


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1.  Basic Styles
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Elements
3.  Menu Style 
4.  Sidebar Style
5.  Archive Style
6.  About Style
7.  Post Type Style
8.  Contact Style
9.  Footer Style

-------------------------------------------------------------------*/
/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */
/*

$primary-font	: 'Poppins', sans-serif;
---------------------------------------------

$primary-color	: #f6214b;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;

*/
/* =================================== */
/*  Basic Style 
/* =================================== */
::-moz-selection {
  /* Code for Firefox */
  background-color: #ff1857;
  color: #fff; }

::selection {
  background-color: #ff1857;
  color: #fff; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300; }

body {
  color: #999999;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.625em;
  position: relative;
  background: #252525; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

select {
  display: block; }

figure {
  margin: 0; }

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

iframe {
  border: 0; }

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

.card-panel {
  margin: 0;
  padding: 60px; }

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit; }

.gray-bg {
  background: #f9f9ff; }

h1, h2, h3,
h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600; }

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px;
  color: #222222; }

td, th {
  border-radius: 0px; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before, .clear::after {
  content: " ";
  display: table; }
.clear::after {
  clear: both; }

.fz-11 {
  font-size: 11px; }

.page-nav a {
  text-decoration: none;
  color: white;
}

.pagination__list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/*
=====
LEVEL 1. CORE COMPONENT STYLES
=====
*/

.pagination{
  --uiPaginationAlign: var(--paginationAlign);
  --uiPaginationArrowSize: var(--paginationArrowSize, 22px);
  --uiPaginationFontSize: var(--paginationFontSize);

  font-size: var(--uiPaginationFontSize);
}

.pagination__list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: var(--uiPaginationAlign);
}

.pagination__item:not(.pagination__control_prev):not(.pagination__item_active){
  padding-left: .5em;
}

.pagination__item:not(.pagination__control_next):not(.pagination__item_active){
  padding-right: .5em;
}

.pagination__item{
  display: inline-block;
  line-height: 1;
}

.pagination__control{
  position: relative;
}

.pagination__control:before, .pagination__control:after{
  font-size: var(--uiPaginationArrowSize);
  line-height: 1;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pagination__control_prev{
  padding-left: calc(var(--uiPaginationArrowSize) + 5px);
}

.pagination__control_prev:before{
  content: "←";
  left: 0;
}

.pagination__control_next{
  padding-right: calc(var(--uiPaginationArrowSize) + 5px);
}

.pagination__control_next:after{
  content: "→";
  right: 0;
}

.pagination__item_active{
  padding: .5875em .8em;
  margin-right: .5em;
  margin-left: .5em;
}

/*
=====
LEVEL 2. PRESENTATION STYLES
=====
*/

.pagination__list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/*
=====
LEVEL 1. CORE COMPONENT STYLES
=====
*/

.pagination{
  --uiPaginationAlign: var(--paginationAlign);
  --uiPaginationArrowSize: var(--paginationArrowSize, 22px);
  --uiPaginationFontSize: var(--paginationFontSize);

  font-size: var(--uiPaginationFontSize);
}

.pagination__list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: var(--uiPaginationAlign);
}

.pagination__item:not(.pagination__control_prev):not(.pagination__item_active){
  padding-left: .5em;
}

.pagination__item:not(.pagination__control_next):not(.pagination__item_active){
  padding-right: .5em;
}

.pagination__item{
  display: inline-block;
  line-height: 1;
}

.pagination__control{
  position: relative;
}

.pagination__control:before, .pagination__control:after{
  font-size: var(--uiPaginationArrowSize);
  line-height: 1;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pagination__control_prev{
  padding-left: calc(var(--uiPaginationArrowSize) + 5px);
}

.pagination__control_prev:before{
  content: "←";
  left: 0;
}

.pagination__control_next{
  padding-right: calc(var(--uiPaginationArrowSize) + 5px);
}

.pagination__control_next:after{
  content: "→";
  right: 0;
}

.pagination__item_active{
  padding: .5875em .8em;
  margin-right: .5em;
  margin-left: .5em;
}

/*
=====
LEVEL 2. PRESENTATION STYLES
=====
*/

.pagination{
  --uiPaginationItemTextColor: var(--paginationItemTextColor);
  --uiPaginationItemActiveTextColor: var(--paginationItemActiveTextColor);
}

.pagination__item{
  text-decoration: none;
  color: var(--uiPaginationItemTextColor);
}

.pagination__item_active{
  font-weight: 700;
  color: var(--uiPaginationItemActiveTextColor);
}

.pagination__item:focus{
  outline-color: #FF1857;
}

.demo a:hover {
  color: #FF1857;
}

/* type 1 */

.pagination_type1{
  --uiPaginationItemActiveBgColor: var(--paginationItemActiveBgColor);
}

.pagination_type1 .pagination__item_active{
  background-color: var(--uiPaginationItemActiveBgColor);
}

/* type 2 */

.pagination_type2{
  --uiPaginationItemActiveBorderWidth: var(--paginationItemActiveBorderWidth);
  --uiPaginationItemActiveBorderColor: var(--paginationItemActiveBorderColor, transparent);
}

.pagination_type2 .pagination__item_active{
  border: var(--uiPaginationItemActiveBorderWidth) solid var(--uiPaginationItemActiveBorderColor);
}

/* type 3 */

.pagination_type3{
  --uiPaginationItemBorderRadius: var(--paginationItemBorderRadius);
}

.pagination_type3 .pagination__item_active{
  border-radius: var(--uiPaginationItemBorderRadius);
}

/*
=====
LEVEL 3. SETTINGS
=====
*/

.demo{
  margin:auto;
  --paginationAlign: center;
  --paginationFontSize: 1.6rem;
  --paginationItemActiveBgColor: white;
  --paginationItemTextColor: #FF1857;
  --paginationItemActiveTextColor: #fff;
}

.demo:nth-of-type(2), .demo:nth-of-type(4){
  --paginationItemTextColor: white;
  --paginationItemActiveTextColor: white;
  --paginationItemActiveBgColor: #fff;
  --paginationItemActiveBorderColor: #FF1857;
  --paginationItemActiveBorderWidth: 2px;
}

.demo:nth-of-type(3), .demo:nth-of-type(4){
  --paginationItemBorderRadius: 50%;
}

.demo:nth-of-type(5){
  --paginationItemBorderRadius: 2px;
}

.demo:nth-of-type(6){
  --paginationArrowIndent: 5px;
  --paginationItemPadding: 10px 15px;
  --paginationItemTextColor: #fff;
  --paginationItemActiveBgColor: #FF1857;
}

.demo:nth-of-type(6) .pagination{
  background-color: #FF1857;
}

.fz-12 {
  font-size: 12px; }

.fz-13 {
  font-size: 13px; }

.fz-14 {
  font-size: 14px; }

.fz-15 {
  font-size: 15px; }

.fz-16 {
  font-size: 16px; }

.fz-18 {
  font-size: 18px; }

.fz-30 {
  font-size: 30px; }

.fz-48 {
  font-size: 48px !important; }

.fw100 {
  font-weight: 100; }

.fw300 {
  font-weight: 300; }

.fw400 {
  font-weight: 400 !important; }

.fw500 {
  font-weight: 500; }

.f700 {
  font-weight: 700; }

.fsi {
  font-style: italic; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-120 {
  margin-top: 120px; }

.mt-150 {
  margin-top: 150px; }

.ml-0 {
  margin-left: 0 !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.mr-0 {
  margin-right: 0 !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-15 {
  margin-right: 15px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-0-i {
  margin-bottom: 0px !important; }

.mb-03 {
  margin-bottom: 3px; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-100 {
  margin-bottom: 100px; }

.pt-0 {
  padding-top: 0px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px !important; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }

.pt-70 {
  padding-top: 70px; }

.pt-80 {
  padding-top: 80px; }

.pt-90 {
  padding-top: 90px; }

.pt-100 {
  padding-top: 100px; }

.pt-120 {
  padding-top: 120px; }

.pt-150 {
  padding-top: 150px; }

.pt-170 {
  padding-top: 170px; }

.pb-0 {
  padding-bottom: 0px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-150 {
  padding-bottom: 150px; }

.pr-30 {
  padding-right: 30px; }

.pl-30 {
  padding-left: 30px; }

.pl-90 {
  padding-left: 90px; }

.p-40 {
  padding: 40px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-italic {
  font-style: italic; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.section-full {
  padding: 100px 0; }

.section-half {
  padding: 75px 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-rigth {
  text-align: right; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.display-table {
  display: table; }

.light {
  color: #fff; }

.dark {
  color: #222; }

.relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.container.fullwidth {
  width: 100%; }
.container.no-padding {
  padding-left: 0;
  padding-right: 0; }

.no-padding {
  padding: 0; }

.section-bg {
  background: #f9fafc; }

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important; } }

.row.no-margin {
  margin-left: 0;
  margin-right: 0; }

.small-gutters {
  margin-right: -5px;
  margin-left: -5px; }
  .small-gutters > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px; }

.medium-gutters {
  margin-right: -10px;
  margin-left: -10px; }
  .medium-gutters > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px; }

.large-gutters {
  margin-right: -45px;
  margin-left: -45px; }
  .large-gutters > [class*="col-"] {
    padding-right: 45px;
    padding-left: 45px; }

.section-gap-top {
  padding-top: 100px; }
  @media (max-width: 991px) {
    .section-gap-top {
      padding-top: 60px; } }

.section-gap-top-60 {
  padding-top: 60px; }
  @media (max-width: 991px) {
    .section-gap-top-60 {
      padding-top: 20px; } }

.section-gap-custom-bottom {
  padding: 100px 0 40px; }
  @media (max-width: 991px) {
    .section-gap-custom-bottom {
      padding: 60px 0 20px; } }

.section-gap {
  padding: 100px 0; }
  @media (max-width: 991px) {
    .section-gap {
      padding: 60px; } }

.alert-msg {
  color: #008000; }

.primary-btn {
  background: transparent;
  line-height: 28px;
  padding-left: 18px;
  padding-right: 18px;
  border: 2px solid #ff1857;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative; }
  .primary-btn:focus {
    outline: none; }
  .primary-btn:hover {
    background: #ff1857;
    color: #fff !important; }
  .primary-btn.fill {
    background: #ff1857;
    line-height: 46px;
    padding-left: 38px;
    padding-right: 38px;
    font-size: 14px; }
    .primary-btn.fill:hover {
      background: transparent; }

@media (max-width: 1440px) {
  .mb-03 {
    margin-bottom: -3px !important; } }

.owl-controls {
  position: absolute;
  right: 10%;
  bottom: 50px; }
  @media (max-width: 991px) {
    .owl-controls {
      display: none; } }
  .owl-controls .owl-nav {
    display: flex;
    display: -ms-flex; }
  .owl-controls .lnr-arrow-left,
  .owl-controls .lnr-arrow-right {
    background-color: #555e8e;
    padding: 14px;
    color: #fff;
    font-weight: 500;
    border: 2px solid #555e8e;
    display: inline-flex;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .owl-controls .lnr-arrow-left:hover,
    .owl-controls .lnr-arrow-right:hover {
      background: transparent;
      border: 2px solid #ff1857; }

.primary-btn.squire {
  border-radius: 0px !important;
  border: 1px solid transparent; }
  .primary-btn.squire:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.section-title {
  margin-bottom: 25px; }
  @media (max-width: 1024px) {
    .section-title {
      margin-bottom: 10px; } }

.heading {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #383838; }
  @media (max-width: 1024px) {
    .heading {
      font-size: 40px;
      margin-bottom: 30px; } }
  @media (max-width: 1024px) {
    .heading {
      font-size: 30px; } }
  .heading:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 7px;
    height: 7px;
    background: #ff1857;
    border-radius: 7px; }
  .heading:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 50px;
    height: 1px;
    background: #ff1857; }

.hero-nav-area {
  text-align: center;
  background: #2e2e2e;
  color: #fff;
  padding: 105px 0px; }
  .hero-nav-area h1 {
    font-size: 36px;
    margin-bottom: 10px; }
    @media (max-width: 413px) {
      .hero-nav-area h1 {
        font-size: 30px; } }
  .hero-nav-area p .lnr {
    font-size: 14px;
    font-weight: 700;
    padding: 0px 8px; }
  .hero-nav-area p a {
    padding: 0px 8px;
    color: #fff; }
    .hero-nav-area p a:hover {
      color: #ff1857; }

/* =================================== */
/*  Elements Page Styles
/* =================================== */
/*---------- Start Elements Page -------------*/
.whole-wrap {
  background-color: #f9f9ff; }

.generic-banner {
  margin-top: 60px;
  background-color: #ff1857;
  text-align: center; }
  .generic-banner .height {
    height: 600px; }
    @media (max-width: 767.98px) {
      .generic-banner .height {
        height: 400px; } }
  .generic-banner .generic-banner-content h2 {
    line-height: 1.2em;
    margin-bottom: 20px; }
    @media (max-width: 991.98px) {
      .generic-banner .generic-banner-content h2 br {
        display: none; } }
  .generic-banner .generic-banner-content p {
    text-align: center;
    font-size: 16px; }
    @media (max-width: 991.98px) {
      .generic-banner .generic-banner-content p br {
        display: none; } }

.generic-content h1 {
  font-weight: 600; }

.about-generic-area {
  background: #fff; }
  .about-generic-area p {
    margin-bottom: 20px; }

.white-bg {
  background: #fff; }

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee; }

.switch-wrap {
  margin-bottom: 10px; }
  .switch-wrap p {
    margin: 0; }

/*---------- End Elements Page -------------*/
.sample-text-area {
  background: #f9f9ff;
  padding: 100px 0 70px 0; }

.sample-text {
  margin-bottom: 0; }

.text-heading {
  margin-bottom: 30px;
  font-size: 24px; }

.typo-list {
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .typo-sec {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .element-wrap {
    margin-top: 30px; } }

b, sup, sub, u, del {
  color: #ff1857; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em; }

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #999999; }

.button-area {
  background: #f9f9ff; }
  .button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee; }

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px; }
  .button-group-area .genric-btn:last-child {
    margin-right: 0; }

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .genric-btn:focus {
    outline: none; }
  .genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px; }
  .genric-btn.large {
    line-height: 45px; }
  .genric-btn.medium {
    line-height: 30px; }
  .genric-btn.small {
    line-height: 25px; }
  .genric-btn.radius {
    border-radius: 3px; }
  .genric-btn.circle {
    border-radius: 20px; }
  .genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .genric-btn.arrow span {
      margin-left: 10px; }
  .genric-btn.default {
    color: #222222;
    background: #f9f9ff;
    border: 1px solid transparent; }
    .genric-btn.default:hover {
      border: 1px solid #f9f9ff;
      background: #fff; }
  .genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff; }
    .genric-btn.default-border:hover {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent; }
  .genric-btn.primary {
    color: #fff;
    background: #ff1857;
    border: 1px solid transparent; }
    .genric-btn.primary:hover {
      color: #ff1857;
      border: 1px solid #ff1857;
      background: #fff; }
  .genric-btn.primary-border {
    color: #ff1857;
    border: 1px solid #ff1857;
    background: #fff; }
    .genric-btn.primary-border:hover {
      color: #fff;
      background: #ff1857;
      border: 1px solid transparent; }
  .genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent; }
    .genric-btn.success:hover {
      color: #4cd3e3;
      border: 1px solid #4cd3e3;
      background: #fff; }
  .genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff; }
    .genric-btn.success-border:hover {
      color: #fff;
      background: #4cd3e3;
      border: 1px solid transparent; }
  .genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent; }
    .genric-btn.info:hover {
      color: #38a4ff;
      border: 1px solid #38a4ff;
      background: #fff; }
  .genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff; }
    .genric-btn.info-border:hover {
      color: #fff;
      background: #38a4ff;
      border: 1px solid transparent; }
  .genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent; }
    .genric-btn.warning:hover {
      color: #f4e700;
      border: 1px solid #f4e700;
      background: #fff; }
  .genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff; }
    .genric-btn.warning-border:hover {
      color: #fff;
      background: #f4e700;
      border: 1px solid transparent; }
  .genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent; }
    .genric-btn.danger:hover {
      color: #f44a40;
      border: 1px solid #f44a40;
      background: #fff; }
  .genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff; }
    .genric-btn.danger-border:hover {
      color: #fff;
      background: #f44a40;
      border: 1px solid transparent; }
  .genric-btn.link {
    color: #222222;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent; }
    .genric-btn.link:hover {
      color: #222222;
      border: 1px solid #f9f9ff;
      background: #fff; }
  .genric-btn.link-border {
    color: #222222;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline; }
    .genric-btn.link-border:hover {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent; }
  .genric-btn.disable {
    color: #222222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed; }

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #fff;
  border-left: 2px solid #ff1857; }

@media (max-width: 991px) {
  .progress-table-wrap {
    overflow-x: scroll; } }

.progress-table {
  background: #fff;
  padding: 15px 0px 30px 0px;
  min-width: 800px; }
  .progress-table .serial {
    width: 11.83%;
    padding-left: 30px; }
  .progress-table .country {
    width: 28.07%; }
  .progress-table .visit {
    width: 19.74%; }
  .progress-table .percentage {
    width: 40.36%;
    padding-right: 50px; }
  .progress-table .table-head {
    display: flex; }
    .progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
      color: #222222;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: 500; }
  .progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex; }
    .progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
      display: flex;
      align-items: center; }
    .progress-table .table-row .country img {
      margin-right: 15px; }
    .progress-table .table-row .percentage .progress {
      width: 80%;
      border-radius: 0px;
      background: transparent; }
      .progress-table .table-row .percentage .progress .progress-bar {
        height: 5px;
        line-height: 5px; }
        .progress-table .table-row .percentage .progress .progress-bar.color-1 {
          background-color: #6382e6; }
        .progress-table .table-row .percentage .progress .progress-bar.color-2 {
          background-color: #e66686; }
        .progress-table .table-row .percentage .progress .progress-bar.color-3 {
          background-color: #f09359; }
        .progress-table .table-row .percentage .progress .progress-bar.color-4 {
          background-color: #73fbaf; }
        .progress-table .table-row .percentage .progress .progress-bar.color-5 {
          background-color: #73fbaf; }
        .progress-table .table-row .percentage .progress .progress-bar.color-6 {
          background-color: #6382e6; }
        .progress-table .table-row .percentage .progress .progress-bar.color-7 {
          background-color: #a367e7; }
        .progress-table .table-row .percentage .progress .progress-bar.color-8 {
          background-color: #e66686; }

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single-gallery-image:hover {
    opacity: .8; }

.list-style {
  width: 14px;
  height: 14px; }

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important; }
  .unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #ff1857;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%; }

.ordered-list {
  margin-left: 30px; }
  .ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #ff1857;
    font-weight: 500;
    line-height: 1.82em !important; }
    .ordered-list li span {
      font-weight: 300;
      color: #999999; }

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #ff1857;
  font-weight: 500;
  line-height: 1.82em !important; }
  .ordered-list-alpha li span {
    font-weight: 300;
    color: #999999; }

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #ff1857;
  font-weight: 500;
  line-height: 1.82em !important; }
  .ordered-list-roman li span {
    font-weight: 300;
    color: #999999; }

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #fff;
  padding: 0 20px; }
  .single-input:focus {
    outline: none; }

.input-group-icon {
  position: relative; }
  .input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3; }
    .input-group-icon .icon i {
      color: #797979; }
  .input-group-icon .single-input {
    padding-left: 45px; }

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #fff;
  padding: 0 20px;
  height: 100px;
  resize: none; }
  .single-textarea:focus {
    outline: none; }

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #fff;
  padding: 0 20px; }
  .single-input-primary:focus {
    outline: none;
    border: 1px solid #ff1857; }

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #fff;
  padding: 0 20px; }
  .single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55; }

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #fff;
  padding: 0 20px; }
  .single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359; }

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }
    .default-switch input + label {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #ff1857;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    .default-switch input:checked + label {
      left: 19px; }

.single-element-widget {
  margin-bottom: 30px; }

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-switch input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .primary-switch input + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 8.5px;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .primary-switch input + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .primary-switch input:checked + label:after {
      left: 19px; }
    .primary-switch input:checked + label:before {
      background: #ff1857; }

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-switch input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .confirm-switch input + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 8.5px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer; }
      .confirm-switch input + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .confirm-switch input:checked + label:after {
      left: 19px; }
    .confirm-switch input:checked + label:before {
      background: #4cd3e3; }

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .primary-checkbox input:checked + label {
      background: url(../img/elements/primary-check.png) no-repeat center center/cover;
      border: none; }

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .confirm-checkbox input:checked + label {
      background: url(../img/elements/success-check.png) no-repeat center center/cover;
      border: none; }

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .disabled-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .disabled-checkbox input:disabled {
      cursor: not-allowed;
      z-index: 3; }
    .disabled-checkbox input:checked + label {
      background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
      border: none; }

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .primary-radio input:checked + label {
      background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
      border: none; }

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .confirm-radio input:checked + label {
      background: url(../img/elements/success-radio.png) no-repeat center center/cover;
      border: none; }

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .disabled-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .disabled-radio input:disabled {
      cursor: not-allowed;
      z-index: 3; }
    .disabled-radio input:checked + label {
      background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
      border: none; }

.default-select {
  height: 40px; }
  .default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #fff;
    padding-left: 20px;
    padding-right: 40px; }
    .default-select .nice-select .list {
      margin-top: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      width: 100%;
      padding: 10px 0 10px 0px; }
      .default-select .nice-select .list .option {
        font-weight: 300;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        line-height: 28px;
        min-height: 28px;
        font-size: 12px;
        padding-left: 20px; }
        .default-select .nice-select .list .option.selected {
          color: #ff1857;
          background: transparent; }
        .default-select .nice-select .list .option:hover {
          color: #ff1857;
          background: transparent; }
  .default-select .current {
    margin-right: 50px;
    font-weight: 300; }
  .default-select .nice-select::after {
    right: 20px; }

@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px; } }

.form-select {
  height: 40px;
  width: 100%; }
  .form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #fff !important;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%; }
    .form-select .nice-select .list {
      margin-top: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      width: 100%;
      padding: 10px 0 10px 0px; }
      .form-select .nice-select .list .option {
        font-weight: 300;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        line-height: 28px;
        min-height: 28px;
        font-size: 12px;
        padding-left: 45px; }
        .form-select .nice-select .list .option.selected {
          color: #ff1857;
          background: transparent; }
        .form-select .nice-select .list .option:hover {
          color: #ff1857;
          background: transparent; }
  .form-select .current {
    margin-right: 50px;
    font-weight: 300; }
  .form-select .nice-select::after {
    right: 20px; }

/* =================================== */
/*  Menu Styles
/* =================================== */
.main-menu {
  background: #252525;
  padding: 17px 20px;
  position: relative; }
  @media (max-width: 991px) {
    .main-menu {
      padding: 28px 20px; } }
  @media (max-width: 575px) {
    .main-menu {
      margin: 0px 15px;
      width: auto !important; } }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 2px 10px rgba(86, 86, 86, 0.27); }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9); }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 180px;
  text-align: left;
  border-bottom: 1px solid #eee; }
  .nav-menu ul li:last-child {
    border-bottom: none; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

/* Nav Meu Container */
#nav-menu-container {
  margin: 0; }

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  outline: none; }
  @media (max-width: 1199px) {
    .nav-menu a {
      padding: 0 2px; } }

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  color: #ff1857; }

.nav-menu > li {
  margin-left: 20px; }

.nav-menu ul {
  margin: 28px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none; }

.nav-menu ul li:hover > a {
  color: #ff1857; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
.menu-title {
  color: #fff;
  margin-left: 10px;
  font-weight: 100; }

#mobile-nav-toggle {
  left: 0;
  z-index: 999;
  border: 0;
  background: none;
  font-size: 18px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #fff;
  font-weight: 900; }

@media (max-width: 991px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 500; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #ff1857; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: #ff1857; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

.Search {
  width: 280px;
  position: relative; }
  .Search .lnr {
    font-weight: 700;
    vertical-align: bottom;
    display: inline-block;
    color: #fff; }
  .Search .form-control {
    border-radius: 0px;
    border: none;
    font-size: 13px;
    text-decoration: none; }
    .Search .form-control:focus {
      box-shadow: none; }
  @media (max-width: 991px) {
    .Search {
      position: absolute;
      right: 0px;
      bottom: 22px; } }
  @media (max-width: 380px) {
    .Search {
      width: 230px; } }

.Search-box {
  float: left;
  width: 80%;
  height: 100%;
  border: 0;
  outline: 0;
  padding-left: 0.75rem;
  font-style: italic;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform ease 500ms; }
  @media (max-width: 554px) {
    .Search-box {
      width: 50%;
      float: right;
      margin-right: 80px; } }
  .Search-box:focus {
    transform: translateY(0);
    opacity: 1; }
    .Search-box:focus + .Search-box-label {
      z-index: -1;
      opacity: 0; }
    .Search-box:focus ~ .Search-close {
      z-index: 3;
      opacity: 1; }

.Search-box-label,
.Search-close {
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  height: 100%;
  transition: opacity ease 250ms 250ms; }
  @media (max-width: 991px) {
    .Search-box-label,
    .Search-close {
      right: 25px; } }

.Search-close {
  opacity: 0;
  z-index: 0; }

.Search-icon,
.Search-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700; }

.navbar-brand {
  margin-left: 15px; }
  @media (max-width: 991px) {
    .navbar-brand {
      display: none; } }

.Search {
  content: "";
  display: table;
  clear: both; }

.Search-icon,
.Search-close-icon {
  text-indent: 100%;
  overflow: hidden; }

.Search-icon,
.Search-close-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat; }

/*-------- Start Banner Style -------------*/
.banner-area .container-fluid {
  padding: 0; }
.banner-area .row {
  margin: 0; }
.banner-area .col-lg-3,
.banner-area .col-lg-6,
.banner-area .col-lg-12,
.banner-area .col-md-12,
.banner-area .col-md-4 {
  padding: 0; }
  @media (max-width: 480px) {
    .banner-area .col-lg-3,
    .banner-area .col-lg-6,
    .banner-area .col-lg-12,
    .banner-area .col-md-12,
    .banner-area .col-md-4 {
      padding: 0 4px;
      margin-bottom: 5px; } }
.banner-area .owl-carousel .owl-item img {
  width: auto !important;
  height: 100%; }
  @media (max-width: 1755px) {
    .banner-area .owl-carousel .owl-item img {
      height: auto; } }
.banner-area .owl-stage-outer {
  margin: 0 3px 0 2px; }

.single-post {
  position: relative;
  padding: 0;
  overflow: hidden; }
  .single-post .thumb {
    overflow: hidden; }
  .single-post .overlay-bg {
    background: rgba(42, 20, 112, 0.5) !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-post .vdo-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .single-post .details {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%; }
    @media (max-width: 1440px) {
      .single-post .details {
        width: 90%; } }
    @media (max-width: 1755px) {
      .single-post .details p {
        display: none; } }
    .single-post .details .top-part h4 {
      margin-top: 0; }
    .single-post .details .top-part p {
      display: block !important; }
    .single-post .details .middle-part {
      padding: 80px 0; }
      @media (max-width: 1680px) {
        .single-post .details .middle-part {
          padding: 30px 0; } }
      @media (max-width: 1199px) {
        .single-post .details .middle-part {
          padding: 0; } }
      .single-post .details .middle-part h1 {
        font-size: 60px; }
        @media (max-width: 1199px) {
          .single-post .details .middle-part h1 {
            font-size: 30px; } }
    .single-post .details .bottom-part {
      padding-top: 10px;
      border-top: 1px solid #999999; }
      .single-post .details .bottom-part p {
        display: block !important; }
  .single-post .list {
    margin-top: 60px;
    list-style: decimal;
    margin-left: 14px; }
    @media (max-width: 1680px) {
      .single-post .list {
        margin-top: 0; } }
    .single-post .list li {
      margin-bottom: 16px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      @media (max-width: 1440px) {
        .single-post .list li {
          margin-bottom: 6px; } }
      .single-post .list li:last-child {
        margin-bottom: 0; }
      .single-post .list li:hover {
        color: #fff; }
        .single-post .list li:hover a {
          color: #fff; }
      .single-post .list li a {
        color: #999999;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      @media (max-width: 1024px) {
        .single-post .list li:nth-child(3), .single-post .list li:nth-child(2) {
          display: none; } }
  .single-post h4 {
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 21px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .single-post h4.lg-font {
      font-size: 36px; }
      @media (max-width: 767px) {
        .single-post h4.lg-font {
          display: none; } }
    @media (max-width: 1024px) {
      .single-post h4 {
        margin-top: 15px;
        margin-bottom: 4px; } }
  .single-post a {
    color: #fff; }
  .single-post .name {
    font-size: 13px;
    font-weight: 100; }
  .single-post p {
    text-align: left;
    margin: 0; }
  .single-post .bottom {
    padding: 10px 0; }
    @media (max-width: 1440px) {
      .single-post .bottom {
        padding-bottom: 5px; } }
    .single-post .bottom span {
      margin: 0 12px;
      font-size: 12px;
      text-transform: uppercase; }
      @media (max-width: 1440px) {
        .single-post .bottom span {
          margin: 0 10px; } }
  .single-post .meta {
    color: #fff;
    font-size: 12px; }
    @media (max-width: 977px) {
      .single-post .meta {
        display: none; } }
  .single-post .f-img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-post:hover {
    cursor: pointer; }
    .single-post:hover .overlay-bg {
      background: rgba(0, 0, 0, 0.8) !important; }
    .single-post:hover h4 {
      color: #ff1857; }
    .single-post:hover .f-img {
      cursor: pointer;
      transform: scale(1.05); }
  @media (max-width: 1680px) {
    .single-post.single-post2 {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .single-post.single-post2 .thumb {
    margin-right: 20px; }
  .single-post.single-post2 h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 15px; }
  .single-post.single-post2 .primary-btn {
    padding-left: 13px;
    padding-right: 13px; }
  .single-post.single-post2 a span {
    color: #999999; }
  .single-post.single-int h4 {
    margin-top: 5px;
    font-size: 18px;
    line-height: 27px; }
  .single-post.single-int .meta,
  .single-post.single-int a {
    color: #999999; }

/*-------- End Banner Style -------------*/
/*-------- Start Editors Pick Style -------------*/
.editors-area {
  padding: 40px;
  background: #2e2e2e; }
  .editors-area .col-lg-3 {
    padding: 0; }
  @media (min-width: 768px) {
    .editors-area .single-post.mb-40 {
      margin-bottom: 0; } }

/*-------- End Editors Pick Style -------------*/
/*-------- Start International News Style -------------*/
.popular-news-area {
  padding: 100px 0 70px; }
  @media (max-width: 991px) {
    .popular-news-area {
      padding: 60px 0 30px; } }

@media (max-width: 1024px) {
  .ad-widget-wrap {
    display: none; } }
.ad-widget-wrap img {
  border: 30px solid #2e2e2e; }

/*-------- End International News Style -------------*/
/*-------- Start Exclusive Videos Style -------------*/
.excl-vdo-area .single-post .play-btn img {
  width: auto; }
  @media (max-width: 575px) {
    .excl-vdo-area .single-post .play-btn img {
      margin-top: 5px;
      width: 20%; } }

/*-------- End Exclusive Videos Style -------------*/
/*-------- Start Tech News Style -------------*/
@media (max-width: 575px) {
  .tech-news-area .single-post .thumb .f-img {
    width: 100%; } }

/*-------- End Tech News Style -------------*/
/*-------- Start category Style -------------*/
.category-area, .post-content-area {
  padding: 100px 0 40px; }
  @media (max-width: 991px) {
    .category-area, .post-content-area {
      padding: 60px 0 40px; } }
  .category-area .single-post .middle-part, .post-content-area .single-post .middle-part {
    padding: 40px 0; }
  .category-area .single-post .list, .post-content-area .single-post .list {
    margin-top: 10px; }

/*-------- End category Style -------------*/
/*-------- Start relavent-story post Style -------------*/
.relavent-story-post-wrap {
  padding: 20px;
  background: #fff; }
  .relavent-story-post-wrap .title {
    font-size: 14px;
    font-weight: 600;
    background: #04091e;
    color: #fff;
    padding: 10px 25px;
    margin-bottom: 20px; }
  .relavent-story-post-wrap .single-relavent-post {
    margin-top: 20px; }
    .relavent-story-post-wrap .single-relavent-post .feature-img {
      overflow: hidden; }
      .relavent-story-post-wrap .single-relavent-post .feature-img img {
        width: 100%;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .relavent-story-post-wrap .single-relavent-post .feature-img .overlay-bg {
        background: rgba(0, 0, 0, 0.4); }
    .relavent-story-post-wrap .single-relavent-post:hover .feature-img img {
      transform: scale(1.1); }
    .relavent-story-post-wrap .single-relavent-post .meta {
      margin: 10px 0px; }
      .relavent-story-post-wrap .single-relavent-post .meta li {
        display: inline-block;
        color: #999999;
        margin-right: 10px;
        font-weight: 300;
        font-size: 12px; }
        .relavent-story-post-wrap .single-relavent-post .meta li .lnr {
          margin-right: 10px;
          font-weight: 700; }
        .relavent-story-post-wrap .single-relavent-post .meta li a,
        .relavent-story-post-wrap .single-relavent-post .meta li .lnr {
          color: #999999; }
    .relavent-story-post-wrap .single-relavent-post .excert {
      margin-bottom: 0px; }
    .relavent-story-post-wrap .single-relavent-post .post-right h4 {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      max-width: 300px; }
      .relavent-story-post-wrap .single-relavent-post .post-right h4:hover {
        color: #ff1857; }
      @media (max-width: 991px) {
        .relavent-story-post-wrap .single-relavent-post .post-right h4 {
          max-width: 100% !important; } }
    @media (max-width: 991px) {
      .relavent-story-post-wrap .single-relavent-post .post-right {
        margin-top: 20px; } }

/*-------- End relavent-story post Style -------------*/
/* =================================== */
/*  About us Page Styles
/* =================================== */
/* =================================== */
/*  Contact Page Styles
/* =================================== */
.contact-page-area .contact-wrap {
  padding: 20px; }
.contact-page-area .map-wrap {
  margin-bottom: 80px; }
.contact-page-area .contact-btns {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 40px;
  color: #fff;
  margin-bottom: 30px; }
  .contact-page-area .contact-btns:hover {
    color: #fff; }
.contact-page-area .form-area .form-control {
  background: #2e2e2e;
  border: 0; }
  .contact-page-area .form-area .form-control:focus {
    box-shadow: none !important;
    border-color: none !important; }
.contact-page-area .form-area input {
  padding: 12px;
  height: 40px;
  line-height: 40px; }
.contact-page-area .form-area input,
.contact-page-area .form-area textarea {
  border-radius: 0;
  font-size: 13px !important; }
.contact-page-area .form-area textarea {
  height: 150px;
  margin-top: 0px;
  padding: 15px; }
.contact-page-area .form-area .primary-btn {
  margin-top: 15px; }
@media (max-width: 991px) {
  .contact-page-area .address-wrap {
    margin-bottom: 30px; } }
.contact-page-area .address-wrap .single-contact-address {
  margin-bottom: 8px; }
  .contact-page-area .address-wrap .single-contact-address h5 {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 5px; }
  .contact-page-area .address-wrap .single-contact-address .lnr {
    font-size: 30px;
    font-weight: 500;
    color: #ff1857;
    margin-right: 30px; }
  @media (max-width: 1024px) and (min-width: 990px) {
    .contact-page-area .address-wrap .single-contact-address h5 {
      font-size: 14px; }
    .contact-page-area .address-wrap .single-contact-address p {
      font-size: 10px; } }

/* =================================== */
/*  Blog Styles
/* =================================== */
/*============ Start Blog Home Styles  =============*/
.blog-page {
  background: #f9f9ff; }

.blog-header-content h1 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 414px) {
    .blog-header-content h1 {
      font-size: 30px; } }
.blog-header-content p {
  margin: 20px 0px; }

.top-category-widget-area {
  background-color: #f9f9ff; }
  .top-category-widget-area .single-cat-widget {
    position: relative;
    text-align: center; }
    .top-category-widget-area .single-cat-widget .overlay-bg {
      background: rgba(0, 0, 0, 0.85);
      margin: 7%;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .top-category-widget-area .single-cat-widget img {
      width: 100%; }
    .top-category-widget-area .single-cat-widget .content-details {
      top: 32%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      color: #fff;
      bottom: 0px;
      position: absolute; }
      .top-category-widget-area .single-cat-widget .content-details h4 {
        color: #fff; }
      .top-category-widget-area .single-cat-widget .content-details span {
        display: inline-block;
        background: #fff;
        width: 60%;
        height: 1%; }
    .top-category-widget-area .single-cat-widget:hover .overlay-bg {
      background: rgba(255, 24, 87, 0.85);
      margin: 7%;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    @media (max-width: 991px) {
      .top-category-widget-area .single-cat-widget {
        margin-bottom: 50px; } }

.post-content-area {
  background-color: #252525; }
  @media (max-width: 480px) {
    .post-content-area h1 {
      font-size: 30px; } }
  @media (max-width: 480px) {
    .post-content-area h1 br {
      display: none; } }
  .post-content-area .tags {
    margin-bottom: 20px; }
    .post-content-area .tags h5 {
      font-size: 14px;
      margin-bottom: 5px; }
    .post-content-area .tags p {
      font-size: 12px; }
    @media (max-width: 380px) {
      .post-content-area .tags .text-right {
        margin-top: 20px; } }
  .post-content-area .tag-details a {
    color: #999999; }
    .post-content-area .tag-details a span {
      margin-right: 15px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .post-content-area .tag-details a span:nth-child(4) {
        margin-right: 0; }
      .post-content-area .tag-details a span:hover {
        color: #ff1857; }
  @media (max-width: 767px) {
    .post-content-area .tag-details .text-right {
      text-align: left !important; } }
  .post-content-area .single-post-blog .meta-details {
    text-align: right;
    margin-top: 35px; }
    @media (max-width: 767px) {
      .post-content-area .single-post-blog .meta-details {
        text-align: left; } }
    @media (max-width: 1024px) {
      .post-content-area .single-post-blog .meta-details {
        margin-top: 0px; } }
  .post-content-area .single-post-blog .user-name a,
  .post-content-area .single-post-blog .date a,
  .post-content-area .single-post-blog .view a,
  .post-content-area .single-post-blog .comments a {
    color: #999999;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .post-content-area .single-post-blog .user-name a:hover,
    .post-content-area .single-post-blog .date a:hover,
    .post-content-area .single-post-blog .view a:hover,
    .post-content-area .single-post-blog .comments a:hover {
      color: #ff1857; }
  .post-content-area .single-post-blog .user-name .lnr,
  .post-content-area .single-post-blog .date .lnr,
  .post-content-area .single-post-blog .view .lnr,
  .post-content-area .single-post-blog .comments .lnr {
    font-weight: 900;
    color: #222222; }
  .post-content-area .single-post-blog .feature-img img {
    width: 100%; }
  .post-content-area .single-post-blog .posts-title h3 {
    margin: 20px 0px; }
  .post-content-area .single-post-blog .excert {
    margin-bottom: 20px; }

.posts-list .posts-title h3 {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .posts-list .posts-title h3:hover {
    color: #ff1857; }

.blog-pagination {
  padding-top: 60px;
  padding-bottom: 120px; }
  .blog-pagination .page-link {
    border-radius: 0; }
  .blog-pagination .page-item {
    border: none; }

.page-link {
  background: transparent;
  font-weight: 400; }

.blog-pagination .page-item.active .page-link {
  background-color: #ff1857;
  border-color: transparent;
  color: #fff; }

.blog-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #999999;
  border: none; }

.blog-pagination .page-link .lnr {
  font-weight: 600; }

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
  border-radius: 0; }

.blog-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff1857;
  border-color: #eee; }

.sidebar-widgets {
  padding-bottom: 120px; }

.widget-wrap {
  background: #fafaff;
  padding: 20px 0px;
  border: 1px solid #eee; }
  @media (max-width: 991px) {
    .widget-wrap {
      margin-top: 50px; } }
  .widget-wrap .single-sidebar-widget {
    margin: 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee; }
    .widget-wrap .single-sidebar-widget:last-child {
      border-bottom: none;
      margin-bottom: 0px; }
  .widget-wrap .search-widget form.search-form input[type=text] {
    color: #fff;
    padding: 10px 22px;
    font-size: 14px;
    border: none;
    float: left;
    width: 80%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #ff1857; }
  .widget-wrap .search-widget ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff; }
  .widget-wrap .search-widget ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
  .widget-wrap .search-widget :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff; }
  .widget-wrap .search-widget :-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }
  .widget-wrap .search-widget form.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #ff1857;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; }
  .widget-wrap .search-widget form.search-form::after {
    content: "";
    clear: both;
    display: table; }
  .widget-wrap .user-info-widget {
    text-align: center; }
    .widget-wrap .user-info-widget a h4 {
      margin-top: 40px;
      margin-bottom: 5px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .widget-wrap .user-info-widget .social-links li {
      display: inline-block;
      margin-bottom: 10px; }
      .widget-wrap .user-info-widget .social-links li a {
        color: #222222;
        padding: 10px;
        font-size: 14px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .widget-wrap .user-info-widget .social-links li a:hover {
          color: #ff1857; }
  .widget-wrap .popular-post-widget .popular-title {
    background: #ff1857;
    color: #fff;
    text-align: center;
    padding: 12px 0px; }
  .widget-wrap .popular-post-widget .popular-post-list {
    margin-top: 30px; }
    .widget-wrap .popular-post-widget .popular-post-list .thumb img {
      width: 100%; }
  .widget-wrap .popular-post-widget .single-post-list {
    margin-bottom: 20px; }
    .widget-wrap .popular-post-widget .single-post-list .details {
      margin-left: 12px; }
      .widget-wrap .popular-post-widget .single-post-list .details h6 {
        font-weight: 600;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .widget-wrap .popular-post-widget .single-post-list .details h6:hover {
          color: #ff1857; }
      .widget-wrap .popular-post-widget .single-post-list .details p {
        margin-bottom: 0px; }
  .widget-wrap .ads-widget img {
    width: 100%; }
  .widget-wrap .post-category-widget .category-title {
    background: #ff1857;
    color: #fff;
    text-align: center;
    padding: 12px 0px; }
  .widget-wrap .post-category-widget .cat-list li {
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 2px dotted #eee;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .widget-wrap .post-category-widget .cat-list li p {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 0px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .widget-wrap .post-category-widget .cat-list li a {
      color: #999999; }
    .widget-wrap .post-category-widget .cat-list li:hover {
      border-color: #ff1857; }
      .widget-wrap .post-category-widget .cat-list li:hover p {
        color: #ff1857; }
  .widget-wrap .newsletter-widget .newsletter-title {
    background: #ff1857;
    color: #fff;
    text-align: center;
    padding: 12px 0px; }
  .widget-wrap .newsletter-widget .col-autos {
    width: 100%; }
  .widget-wrap .newsletter-widget p {
    text-align: center;
    margin: 20px 0px; }
  .widget-wrap .newsletter-widget .bbtns {
    background: #ff1857;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 0; }
  .widget-wrap .newsletter-widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top; }
    .widget-wrap .newsletter-widget .input-group-text i {
      color: #ccc;
      margin-top: -1px; }
  .widget-wrap .newsletter-widget .form-control {
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px;
    font-size: 13px;
    color: #ccc;
    padding: 9px;
    padding-left: 0px; }
    .widget-wrap .newsletter-widget .form-control:focus {
      box-shadow: none;
      border-color: #ccc; }
  .widget-wrap .newsletter-widget ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #ccc; }
  .widget-wrap .newsletter-widget ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #ccc; }
  .widget-wrap .newsletter-widget :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #ccc; }
  .widget-wrap .newsletter-widget :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #ccc; }
  .widget-wrap .newsletter-widget .text-bottom {
    margin-bottom: 0px; }
  .widget-wrap .tag-cloud-widget .tagcloud-title {
    background: #ff1857;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
    margin-bottom: 30px; }
  .widget-wrap .tag-cloud-widget ul li {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 14px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .widget-wrap .tag-cloud-widget ul li:hover {
      background: #ff1857; }
      .widget-wrap .tag-cloud-widget ul li:hover a {
        color: #fff; }
    .widget-wrap .tag-cloud-widget ul li a {
      font-size: 12px;
      color: #222222; }

/*============ End Blog Home Styles  =============*/
/*============ Start Blog Single Styles  =============*/
.single-post-area {
  padding-top: 80px;
  padding-bottom: 80px; }
  .single-post-area .meta-details {
    margin-top: 20px !important; }
  .single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px; }
    .single-post-area .social-links li a {
      color: #222222;
      padding: 7px;
      font-size: 14px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .single-post-area .social-links li a:hover {
        color: #ff1857; }
  .single-post-area .quote-box {
    padding: 30px;
    background: #2e2e2e;
    margin-top: 15px; }
    .single-post-area .quote-box .quotes {
      border-left: 2px solid #ff1857;
      padding: 30px;
      background-color: #252525;
      font-style: italic; }
  .single-post-area .arrow {
    position: absolute; }
    .single-post-area .arrow .lnr {
      font-size: 20px;
      font-weight: 600; }
  .single-post-area .thumb .overlay-bg {
    background: rgba(0, 0, 0, 0.8); }
  .single-post-area .navigation-area {
    border-top: 1px solid #2e2e2e;
    padding-top: 35px; }
    .single-post-area .navigation-area .nav-left {
      text-align: left; }
      .single-post-area .navigation-area .nav-left .thumb {
        margin-right: 20px;
        background: #000; }
        .single-post-area .navigation-area .nav-left .thumb img {
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
      .single-post-area .navigation-area .nav-left .lnr {
        margin-left: 20px;
        opacity: 0;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .single-post-area .navigation-area .nav-left:hover .lnr {
        opacity: 1; }
      .single-post-area .navigation-area .nav-left:hover .thumb img {
        opacity: .5; }
      @media (max-width: 767px) {
        .single-post-area .navigation-area .nav-left {
          margin-bottom: 30px; } }
    .single-post-area .navigation-area .nav-right {
      text-align: right; }
      .single-post-area .navigation-area .nav-right .thumb {
        margin-left: 20px;
        background: #000; }
        .single-post-area .navigation-area .nav-right .thumb img {
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
      .single-post-area .navigation-area .nav-right .lnr {
        margin-right: 20px;
        opacity: 0;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .single-post-area .navigation-area .nav-right:hover .lnr {
        opacity: 1; }
      .single-post-area .navigation-area .nav-right:hover .thumb img {
        opacity: .5; }
  @media (max-width: 991px) {
    .single-post-area .sidebar-widgets {
      padding-bottom: 0px; } }

.comments-area {
  border-top: 1px solid #2e2e2e;
  padding: 50px 0px;
  margin-top: 35px; }
  @media (max-width: 414px) {
    .comments-area {
      padding: 50px 8px; } }
  .comments-area h4 {
    margin-bottom: 35px; }
  .comments-area a {
    color: #fff; }
  .comments-area .comment-list {
    padding-bottom: 30px; }
    .comments-area .comment-list:last-child {
      padding-bottom: 0px; }
    .comments-area .comment-list.left-padding {
      padding-left: 25px; }
    @media (max-width: 413px) {
      .comments-area .comment-list .single-comment h5 {
        font-size: 12px; }
      .comments-area .comment-list .single-comment .date {
        font-size: 11px; }
      .comments-area .comment-list .single-comment .comment {
        font-size: 10px; } }
  .comments-area .thumb {
    margin-right: 20px; }
  .comments-area .date {
    font-size: 13px;
    color: #999999;
    margin-top: 5px; }
  .comments-area .comment {
    color: #777777; }
  .comments-area .btn-reply {
    background-color: transparent;
    color: #fff;
    border: 1px solid #ff1857;
    text-transform: capitalize;
    padding: 8px 30px;
    display: block;
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .comments-area .btn-reply:hover {
      background-color: #ff1857;
      color: #fff; }
    @media (max-width: 576px) {
      .comments-area .btn-reply {
        padding: 2px 20px; } }

.comment-form {
  text-align: right;
  padding: 50px 20px;
  border-top: 1px solid #2e2e2e; }
  .comment-form h4 {
    text-align: left;
    margin-bottom: 35px; }
  .comment-form .name {
    padding-left: 0px; }
    @media (max-width: 991px) {
      .comment-form .name {
        padding-right: 0px;
        margin-bottom: 15px; } }
  .comment-form .email {
    padding-right: 0px; }
    @media (max-width: 991px) {
      .comment-form .email {
        padding-left: 0px; } }
  .comment-form .form-control {
    padding: 12px;
    background: #2e2e2e;
    border: none;
    border-radius: 0px;
    width: 100%;
    font-size: 13px;
    color: #777777; }
    .comment-form .form-control:focus {
      box-shadow: none;
      border: 1px solid #eee; }
  .comment-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #777; }
  .comment-form ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #777; }
  .comment-form :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #777; }
  .comment-form :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #777; }
  .comment-form .primary-btn {
    font-size: 14px;
    margin-top: 10px; }

/*============ End Blog Single Styles  =============*/
/* =================================== */
/*  Footer Styles
/* =================================== */
.footer-area {
  background: #2e2e2e; }
  .footer-area .single-footer-widget h6 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px; }
    .footer-area .single-footer-widget h6.heading {
      border-bottom: 1px solid #252525; }
  .footer-area .single-footer-widget p {
    margin-right: 15px; }
  .footer-area .single-footer-widget .footer-nav li {
    margin-bottom: 12px; }
    .footer-area .single-footer-widget .footer-nav li a {
      color: #999999; }
      .footer-area .single-footer-widget .footer-nav li a:hover {
        color: #fff; }
  @media (max-width: 960px) {
    .footer-area .single-footer-widget {
      margin-bottom: 30px; } }
  @media (max-width: 991px) {
    .footer-area .single-footer-widget .footer-news {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media (max-width: 380px) {
    .footer-area .single-footer-widget .footer-news {
      display: block !important; } }
  .footer-area .single-news {
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .footer-area .single-news {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .footer-area .single-news .details {
      margin-left: 18px; }
      .footer-area .single-news .details h4 {
        font-size: 14px;
        margin-bottom: 16px;
        line-height: 22px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .footer-area .single-news .details h4:hover {
          cursor: pointer; }
      .footer-area .single-news .details .meta .lnr {
        margin-right: 10px; }
      @media (max-width: 991px) {
        .footer-area .single-news .details .meta {
          display: none; } }
      .footer-area .single-news .details p {
        text-transform: uppercase;
        font-size: 12px; }
    @media (max-width: 1024px) {
      .footer-area .single-news img {
        max-width: 100%; }
      .footer-area .single-news .details h4 {
        font-size: 13px;
        margin-bottom: 0; } }
    @media (max-width: 991px) {
      .footer-area .single-news .details h4 {
        margin-right: 30px; } }
    @media (max-width: 991.98px) {
      .footer-area .single-news .details {
        margin-top: 20px;
        margin-left: 0px; } }
  .footer-area .copyright-text {
    padding: 25px 0;
    border-top: 1px solid #252525; }
    .footer-area .copyright-text a {
      color: #ff1857; }
    .footer-area .copyright-text .footer-social {
      text-align: right; }
      .footer-area .copyright-text .footer-social a {
        color: #999999;
        display: inline-block;
        margin-right: 15px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        width: 30px;
        background: #252525;
        text-align: center; }
        .footer-area .copyright-text .footer-social a:hover {
          color: #fff;
          background: #ff1857; }
    @media (max-width: 572px) {
      .footer-area .copyright-text .footer-social {
        text-align: center;
        margin-top: 10px; } }
  @media (max-width: 575px) {
    .footer-area .footer-text {
      margin-bottom: 20px !important; } }

/*# sourceMappingURL=main.css.map */
